.btn-primary {
    background-color: black;
}

#footer {
    background: rgb(195, 34, 178);
    background: radial-gradient(circle, rgba(195, 34, 178, 1) 0%, rgba(163, 45, 253, 0.5215336134453781) 100%);
}

#footer p {
    color: white;
}